<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="ary" value="https://gitlab.com/api/v4/projects/60222410/packages/nuget/index.json" />
        <add key="tag" value="https://gitlab.com/api/v4/projects/66685218/packages/nuget/index.json" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>

        <packageSource key="ary">
            <package pattern="AryDotNet" />
        </packageSource>

        <packageSource key="tag">
            <package pattern="TagClient" />
        </packageSource>
    </packageSourceMapping>
    <packageSourceCredentials>
        <ary>
            <add key="Username" value="gitlab-ci-token" />
            <add key="ClearTextPassword" value="%GITLAB_PACKAGE_REGISTRY_PASSWORD%" />
        </ary>
        <tag>
            <add key="Username" value="gitlab-ci-token" />
            <add key="ClearTextPassword" value="%GITLAB_PACKAGE_REGISTRY_PASSWORD%" />
        </tag>
    </packageSourceCredentials>
</configuration>